<div class="navbar">
    <div class="container">
        <div class="logo">
            <img src="../../assets/images/logo.png" />
            <div class="line"></div>
            <img src="../../assets/images/name.png" />
        </div>

        <div class="pesquisa">
            <input type="text" placeholder="Pesquisar" />
        </div>

        <div class="icons">
            <img src="../../assets/images/paper-plane.png" alt="">
            <img src="../../assets/images/compass-outline.png" />
            <img src="../../assets/images/heart-outline.svg" alt="">
            <img src="../../assets/images/person-outline.svg" />
        </div>

    </div>
</div>