<div class="sidebar">

  <div class="usuario">
    <img src="img" />
    <div class="texto">
      <strong>Usuario</strong>
    </div>
  </div>

  <div class="sugestoes">
    <div class="titulo">
      Sugestões para você
      <div>Ver tudo</div>
    </div>

    <div class="sugestao" *ngFor="let data of info">
      <div class="usuario">
        <img src={{data.image}} />
        <div class="texto">
          <div class="nome">{{data.user}}</div>
          <div class="razao">Segue você</div>
        </div>
      </div>

      <div class="seguir">Seguir</div>
    </div>

  </div>

  <div class="links">
    Sobre • Ajuda • Imprensa • API • Carreiras • Privacidade • Termos • Localizações • Contas mais relevantes • Hashtags
    • Idioma
  </div>

  <div class="copyright">
    © 2021 INSTAGRAM DO FACEBOOK
  </div>
</div>
