<div class="post">
    <div class="top">
        <div class="user">
            <img src={{userImage}}/>
            {{user}}
        </div>
        <div class="actions">
            <img src="../../assets/images/ellipsis-horizontal.svg" alt="">
        </div>
    </div>

    <div class="conteudo">
        <img src={{image}} alt="">
    </div>

    <div class="bot">
        <div class="postActions">
            <div>
                <img src="../../assets/images/heart-outline.svg" alt="">
                <img src="../../assets/images/chat bubble.png" alt="">
                <img src="../../assets/images/paper-plane.png" alt="">
            </div>
            <div>
                <img src="../../assets/images/bookmark-outline.svg" alt="">
            </div>
        </div>

        <div class="likes">
            <img src={{likedImage}} alt="">
            <div class="texto">
                Curtido por <strong>{{likedName}}</strong> e <strong>outras {{likedNumber}} pessoas</strong>
            </div>
        </div>
    </div>
</div>